@charset "URF-8";


body {background-image: url("fundojpg");
     font:bold 24px Arial;



}


figcaption {

color: white;
text-align: right;
font:bold  24px  Arial;
position:relative;
top: 0%;


}


figure.Foto-Legenda img {

border: blue solid  8px ;
box-sizing: 100%;

}

/*

figure.Foto-Legenda img {

width: 100%;
height: 100%;



}

*/

figure.Foto-Legenda  img {

width: 20%;
height: 20%;



}

hgroup { color: white;
       font:bold  24px Arial;
         text-align: center; 
         position: relative;
          vertical-align:middle;

     
     
}



a   {background-color: crimson;
     font:normal 24px Arial; 
     text-align: center;
     color:white;
     position:absolute;
     top: 50%;
     padding: 10px;
  border: 3px dashed blue;

}


a {border: blue solid 2px;


}