@charset "URF-8";


body {background-image: url("fundo.jpg");
     font:bold 24px Arial;



}




figure.foto-legenda {

    
     border: 8px solid  blue;
     box-shadow: 1px 1px 4 px blue;
     position: absolute;
     right: 40%;




}


figure.foto-legenda img {

width: 100%;
height: 100%;

}

figure.foto-legenda figcaption {
     background-color: rgb(0,0,0);
     color: white;
     text-align: justify;
     position: relative;
     top:0%

}

figure.Foto-Logo {
 position: absolute;    
 width: 100%;
height: 100%;
top: 0%;


}

hgroup {color: white;
       font:bold  12px Arial;
       text-align:right; 
       position:relative;
       top: 60%;
      
}



